<h1>Nova Categoria:</h1>
<div class="card">
    <div class="card-body">
        <form action="/admin/categories/new" method="post">
            <label for="name">Nome: </label>
            <input class="form-control" type="text" name="name" id="name" placeholder="Nome da Categoria">
            <label for="slug">Slug: </label>
            <input class="form-control" type="text" name="slug" id="slug" placeholder="Slug da Categoria">
            <button class="btn-btn-succes mt-2">Criar categoria</button>
        </form>
    </div>
</div>