{{#each errors}}
<div class="alert alert-danger">{{text}}</div>
{{/each}}
<div class="card">
    <div class="card-body">
        <h4>Nova Postagem</h4>
        <form action="/admin/posts/new" method="post">
            <label for="title">Title: </label>
            <input type="text" name="title" class="form-control">
            <label for="slug">Slug: </label>
            <input type="text" name="slug" class="form-control">
            <label for="description">Descrição: </label>
            <input name="description" class="form-control"></input>
            <label for="content">Conteúdo: </label>
            <textarea name="content" class="form-control"></textarea>
            <label for="category">Categoria: </label>
            <select name="category">
                <option value="" selected disabled>Selecione uma categoria</option>
                {{#each categories}}
                <option value="{{_id}}">{{name}}</option>
                {{/each}}
            </select>
            <button type="submit" class="btn btn-success mt-3">Criar postagem</button>
        </form>
    </div>
</div>