<div class="card">
    <div class="card-body">
        {{post.title}}
        <hr>
        <small class="d-block mb-3">Publicado em: {{post.createdAt}}</small>
        <p>{{post.content}}</p>
    </div>
</div>